.socials {
    margin-right: 20px;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-instagram-square {
    color: #E1306C;
}

.fa-youtube-square {
    color: #FF0000;
}